*{
  box-sizing: border-box;
}
body,html{
  height: 100%;
  width: 100%;
}
.App {
  text-align: center;
  background-color: rgb(238, 197, 144);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Ml{
  padding: 1.5% 5%;
}
.Ml input{
  outline: none;
  padding: 5px 15px;
  margin-right: 25px;
}
.Ml button{
  padding: 5px 15px;
}
.Toast{
  width: 500px;
  margin-left: -20%;
}
.ToastContent{
  color: rgb(238, 58, 58);
  font-size: 36px;
  padding: 1% 5%;
  width: 100%;
}
table{
  border: 1px solid black;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
tr,td{
  border: 1px solid black;
}
.coll1{
  width: 10%;
}
.coll2{
  width: 60%;
}
.coll3{
  width: 20%;
}
.coll4{
  width: 10%;
}